* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

.form-section{
    background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
    padding: 30px;
    border-radius: 20px;
}
  
.container {
    padding: 1rem 1.5rem;
    border: 1px solid black;
    width: 350px;
    background-color: #00eaff;
}
   
h2 {
    text-align: center;
    padding: 15px 0;
}

#copy{
    display: none;
}

.option {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px;
}
.result__container {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 5px;
}
   
.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}
   

   
.result__container #copy:hover {
    background-color: #1c2541;
    color: #ffffff;
}
   
#generate {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
   
#generate:hover {
    background-color: #5bc0be;
    color: #ffffff;
}